
body{
    font-family: Georgia, Arial, San-Serif;
    font-size: 100%;

}
.container {
    margin: 0 auto;
    width: 960px;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
 /*p {
    font-size: 13px;
    line-height: 1.3em;
}*/

/* HEADER */
.company-contacts {
    padding: 10px 0;
    background-color: #272727;
}

.company-contacts h1 {
    color: #DFDFDF;
    text-align: center;
    white-space: nowrap;
}

.company-cell {
    text-align: left;
    font-size: 13px;
    display: inline-block;
}

.company-cell li {
    list-style-type: none;
    display: inline-block;
    padding: 0 13px;
}
.company-cell a {
    color: #DFDFDF;
}

.company-cell-email:before {
    content: url("flaticons/mail.svg");
    position: relative;
    top: 4px;
    right: 10px;
}

.company-cell-address:before {
    content: url("flaticons/location.svg");
    position: relative;
    top: 4px;
    right: 10px;
}

.company-cell-phone:before {
    content: url("flaticons/phone.svg");
    position: relative;
    top: 4px;
    right: 10px;
}

.company-social {
    display: inline-block;
    float: right;
}

.company-social li {
    display: inline-block;
    padding: 5px;
}

.social-fb:before {
    content: url("flaticons/facebook.svg");
    position: relative;
}

.social-skype:before {
    content: url("flaticons/skype.svg");
    position: relative;
}

/* NAVIGATION */
.header {
    background-color: #eb630d;
    border-color: #9d9d9d;
    min-height: 64px;
}
.nav_logo {
    display: inline-block;
    float: left;
}

.header ul {
    float: right;
    display: inline-block;
}

.header li {
    display: inline-block;
}

.header li a {
    display: block;
    padding: 0 20px;
    color: #e1e1e1;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}

.header li a:hover {
    color: #eb630d;
    background-color: #e1e1e1;
}

/* NAVIGATION SERVICIES */

.services {
    background-color: #ffffff;
    min-height: 64px;
    text-align: center;
}

.services li {
    display: inline-block;
}

.services li a {
    display: block;
    padding: 0 20px;
    color: #aaaaaa;
    text-transform: uppercase;
    line-height: 4em;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.services li a:hover {
    color: #eb630d;
    background-color: #d1d1d1;
}

/* MAIN */
.company-info {
    margin-top: 50px;
    color: #9d9d9d;
    background-image: url("flaticons/pattern-bg.png");
}

.company-info h2 {
    color: #787878;;
}

.company-info h6 {
    color: #828282;
}

.slaider {
    width: 960px;
    height: 628px;
    background-image: url(flaticons/main_bg.png);
}

.menu-item {
    font-size: 18px;
    padding: 15px 0;
    border-bottom: 2px solid #9a9a9a;
}

.about-us {
}

.for-clients {

}



.footer {
    background-color: #fffdc1;
    color: #e1e1e1;
    text-align: center;
    font: 16px "Trebuchet MS";
}

.footer p {
    margin: 0;
    padding: 15px 0;
}

.footer_text_bold {
    font-weight: bold;
}

.footer_text_black {
    color: #ececec;
}