.line {
     background-color: blueviolet;
 }
.menu {
    width: 900px;
    margin: auto;
}
.buttom {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: Impact;
    padding: 5px 9px ;
}
.buttom:hover {
    color: #999999;
    background-color: #ddebf7;
}